<%- include('partials/header'); %>

<div class="container">
	<div class="mainApp">
		<h2>Space Removal</h2>
		<textarea id="myTextArea" class="block" rows="10" cols="100" value="asdasd"></textarea>
		<div class="buttonArea">
			<button onclick="myFunction()" id="btn" class="btn btn-success block">Fix Me!</button>
		</div>
		
	</div>
	
</div>

<script>
function myFunction(){
	var text = document.getElementById('myTextArea').value;
	var textArray = text.split("");
	console.log(text);
	
	//Handle all space with this symbols: .,!?:
	for(var i = 0; i <= textArray.length; i++ ){
		if(textArray[i] == " " & (textArray[i+1]  == "." || textArray[i+1]  == "," || textArray[i+1]  == ":" || 
								  textArray[i+1]  == '?' || textArray[i+1]  == '!'))
		{
			textArray[i] = "";
		}
	}	
	//Handle all space with this symbols: .,!?:
	
	//Handle all space with " symbol.
	/*for(var i = 0; i <= textArray.length; i++ ){
		if(textArray[i] == '"' && textArray[i+1] == " " && (textArray[i+2] != ' ' || textArray[i+2] != '')){
			textArray[i+1] = ' ';
		}
		if(textArray[i] == '"' && textArray[i-1] == ' ' ){
			textArray[i-1] = "";
		}
	}	*/
	//Handle all space with " symbol.
	
	var finalText = textArray.join("");
	console.log(finalText);
	document.getElementById('myTextArea').value = finalText;
}
	
	
	

</script>

<%- include('partials/footer'); %>



