<%- include('partials/header'); %>

<div class="container">
    <div class="mainApp">
        <div class="row">
            <div class="col">
                <h2>Space Removal</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <textarea dir="rtl" id="myTextArea" class="block" rows="10" cols="100"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col buttonArea">
                <button onclick="myFunction()" id="btnDelete" class="btn btn-success block">
                    Delete Unnecessary Spaces
                </button>
				<a id="btnAgain" class="btn btn-primary block" href="/" style = "display: none">Remove Spaces Again!</a>
            </div>
        </div>
    </div>
</div>

<script>
//Handle all space with this symbols: .,!?:
function spaceRemoval(textArray) {
    for (var i = 0; i <= textArray.length; i++) {
        if (
            (textArray[i] == ' ') &
            (textArray[i + 1] == '.' ||
                textArray[i + 1] == ',' ||
                textArray[i + 1] == ':' ||
                textArray[i + 1] == '?' ||
                textArray[i + 1] == '!' ||
                textArray[i + 1] == ';' ||
                textArray[i + 1] == "'" ||
                textArray[i + 1] == '/')
        ) {
            textArray[i] = '';
        }
        if ((textArray[i] == ':') & (textArray[i + 1] == '"') & (textArray[i + 2] == ' ')) {
            textArray[i + 1] = ' ';
            textArray[i + 2] = '"';
        }
        if ((textArray[i] == '(') & (textArray[i + 1] == ' ')) {
            textArray[i + 1] = '';
        }
        if ((textArray[i] == ')') & (textArray[i - 1] == ' ')) {
            textArray[i - 1] = '';
        }
        if ((textArray[i] == '/') & (textArray[i + 1] == ' ')) {
            textArray[i + 1] = '';
        }
    }

    const filtered = textArray.filter(function (el) {
        return el != '';
    });
    console.log(filtered);
    return filtered;
}
//Handle all space with this symbols: .,!?:

//Handle all space with " symbol.
function QuotationMarks(textArray) {
    let first = false;
    for (var i = 0; i <= textArray.length; i++) {
        if (textArray[i] == '"') {
            first = !first;
            if (first & (textArray[i + 1] == ' ')) {
                textArray[i + 1] = '';
            } else if (textArray[i - 1] == ' ') {
                textArray[i - 1] = '';
            }
        }
    }
    const filtered = textArray.filter(function (el) {
        return el != '';
    });
    console.log(filtered);
    return filtered;
}

//Handle all space with " symbol.

//Handle all of the rest problems.
function spaceRemovalRest(textArray) {
    for (var i = 0; i <= textArray.length; i++) {
        if ((textArray[i] == '"') & (textArray[i - 1] == ',')) {
            textArray[i] = ',';
            textArray[i - 1] = '"';
        }
        if ((textArray[i] == '"') & (textArray[i - 1] == '.')) {
            textArray[i] = '.';
            textArray[i - 1] = '"';
        }
    }
    const filtered = textArray.filter(function (el) {
        return el != '';
    });
    console.log(filtered);
    return filtered;
}
//Handle all of the rest problems.

function myFunction() {
    let text = document.getElementById('myTextArea').value;
    let textArray = text.split('');
	let textArray2 = spaceRemoval(textArray);
    let textArray3 = QuotationMarks(textArray2);
    let textArray4 = spaceRemovalRest(textArray3);

	document.getElementById("btnDelete").style.display = "none";
	document.getElementById("btnAgain").style.display = "inline-block";


    let finalText = textArray4.join('');
    document.getElementById('myTextArea').value = finalText;
}
</script>

<%- include('partials/footer'); %>