body {
    color: green;
}

h2 {
	    padding: 10px;

}

.mainApp {
    margin: 4rem 10rem;
    text-align: center;
    background: #ececec;
    box-shadow: 10px 9px 13px #aaaaaa;
}
.buttonArea {
    padding: 10px;
}